Flask>=3.1
Flask-Cors
Flask-JWT-Extended
Flask-Migrate>=4.0
Flask-RESTful
Flask-SQLAlchemy>=3.1
SQLAlchemy>=2.0.30
sqlalchemy-serializer
alembic
gunicorn
psycopg2-binary
python-dotenv
aniso8601
click
blinker
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
PyJWT
pytz
setuptools
six
typing_extensions
Werkzeug
greenlet
